@import './vars.css';

@font-face {
  font-family: 'Monoton';
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: url('../fonts/monoton-latin/monoton-v10-latin-regular.woff2')
      format('woff2'),
    url('../fonts/monoton-latin/monoton-v10-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: url('../fonts/nunito-sans-latin/nunito-sans-v6-latin-regular.woff2')
      format('woff2'),
    url('../fonts/nunito-sans-latin/nunito-sans-v6-latin-regular.woff')
      format('woff');
}

body {
  font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
  background: black;
  height: 200vh;
}

/* neon text styles */
.neon-box {
  font-size: 1.8rem;
  font-family: 'Monoton', sans-serif;
  text-align: center;
  text-shadow: 0 0 100px red, 0 0 50px FireBrick, 0 0 26px DarkRed;
  color: red;
  /* position: relative; */
}

.neon-box p {
  margin: 0;
}

.neon-box p:nth-of-type(1) {
  padding-bottom: 1.5rem;
}

.neon-box p:nth-of-type(2) {
  padding-bottom: 0.5rem;
}

.neon-box p:nth-of-type(3) {
  padding-bottom: 1rem;
}

#name:hover {
  text-shadow: 0 0 200px #ffffff, 0 0 80px #ffffff, 0 0 26px #ffffff;
}

.software-text:hover {
  text-shadow: 0 0 100px red, 0 0 40px FireBrick, 0 0 8px DarkRed;
}

#name {
  color: #fff;
  text-shadow: 0 0 100px #ffffff, 0 0 50px #ffffff, 0 0 26px #ffffff;
}

#name span {
  animation: upper 11s linear infinite;
}

.software-text span:nth-of-type(2) {
  animation: lower 10s linear infinite;
}

.developer-text span:nth-of-type(1) {
  animation: lower 8s linear infinite;
}

.software-text span:nth-of-type(1) {
  text-shadow: none;
  opacity: 0.4;
}

@keyframes upper {
  0%,
  19.999%,
  22%,
  62.999%,
  64%,
  64.999%,
  70%,
  100% {
    opacity: 0.99;
    text-shadow: 0 0 100px #ffffff, 0 0 50px #fff, 0 0 26px #fff;
  }

  20%,
  21.999%,
  63%,
  63.999%,
  65%,
  69.999% {
    opacity: 0.4;
    text-shadow: none;
  }
}

@keyframes lower {
  0%,
  12%,
  18.999%,
  23%,
  31.999%,
  37%,
  44.999%,
  46%,
  49.999%,
  51%,
  58.999%,
  61%,
  68.999%,
  71%,
  85.999%,
  96%,
  100% {
    opacity: 0.99;
    text-shadow: 0 0 80px red, 0 0 30px FireBrick, 0 0 6px DarkRed;
  }
  19%,
  22.99%,
  32%,
  36.999%,
  45%,
  45.999%,
  50%,
  50.99%,
  59%,
  60.999%,
  69%,
  70.999%,
  86%,
  95.999% {
    opacity: 0.4;
    text-shadow: none;
  }
}

@media screen and (min-width: 375px) {
  .neon-box {
    font-size: 2rem;
  }
}

@media screen and (min-width: 414px) {
  .neon-box {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 768px) {
  .neon-box {
    font-size: 3.5rem;
  }

  .developer-text {
    bottom: 1.4rem;
  }
}

@media screen and (min-width: 992px) {
  .hero-info-box {
    position: relative;
    bottom: 4rem;
  }
}

/* neon text styles end */

/* navbar styles*/
.navbar {
  padding: 0.4rem 0;
  background-color: var(--white);
  width: 100%;
  z-index: 5;
  position: relative;
}

.navbar-inner-container {
  width: 100%;
  margin: auto;
  background-color: var(--white);
  /* position: relative; */
}

.toggle-box {
  width: 90%;
  margin: auto;
}

.navbar-toggle {
  background-color: var(--white);
  border: 1px solid #e7e7e7;
  padding: 0.5rem 0.9rem;
  font-size: 1.25rem;
  border-radius: 0.25rem;
}

.hamburger-icon {
  width: 1.8rem;
}

.navbar-dropdown {
  width: 100%;
  margin: auto;
  max-height: 0;
  overflow: hidden;
  transition: 0.5s ease-in-out;
  opacity: 0;
  position: absolute;
  z-index: 5;
  background-color: var(--white);
}

.navbar-list {
  width: 80%;
  margin: auto;
}

.nav-item {
  padding: 1.6rem 0;
}

.nav-link {
  font-size: 1rem;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: 0.2em;
  padding: 1.4rem 0;
  font-weight: 500;
}

.showDropdown {
  opacity: 1;
  height: 23rem;
  max-height: 23rem;
  padding: 1rem 0;
}

/* .fixedNav {
  position: fixed;
  background-color: var(--white);
} */

/* hero styles */
.hero-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  height: 90vh;
}

.hero-container::before {
  content: '';
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.hero-img {
  width: 100vw;
  height: 100%;
  max-width: 100%;
  object-fit: contain;
  background-repeat: no-repeat;
  overflow: hidden;
  /* background-size: cover;
  background-position: center center; */
}

.hero-info-container {
  border: 1px solid pink;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.welcome-text {
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
}

@media (min-width: 992px) {
  .navbar {
    padding: 0;
  }

  .navbar-toggle {
    display: none;
  }

  .navbar-dropdown {
    max-height: initial;
    opacity: 1;
    width: 100%;
  }

  .navbar-list {
    display: flex;
    width: 50%;
    margin: auto;
    justify-content: space-evenly;
    align-items: center;
  }

  .nav-item {
    padding: 1.6rem 0;
    border-bottom: 4px solid transparent;
  }

  .nav-item:hover {
    border-bottom-color: firebrick;
  }

  .nav-link {
    cursor: pointer;
  }
}
