@font-face {
  font-family: 'Monoton';
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: url('../fonts/monoton-latin/monoton-v10-latin-regular.woff2')
      format('woff2'),
    url('../fonts/monoton-latin/monoton-v10-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: url('../fonts/nunito-sans-latin/nunito-sans-v6-latin-regular.woff2')
      format('woff2'),
    url('../fonts/nunito-sans-latin/nunito-sans-v6-latin-regular.woff')
      format('woff');
}

body {
  color: #fff;
  background: #222;
  line-height: 1.7;
  font-size: 16px;
  font-weight: 300;
  font-family: 'Nunito Sans';
}

h2 {
  font-size: 25px;
}

.parent-nav-link-padding,
.site-navbar .navbar-nav > li > a {
  padding: 15px 20px !important;
}

h1,
h2,
h3,
h4,
h5 {
  color: #fff;
  font-weight: 200;
}

.site-navbar {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0px;
  margin-bottom: 0px;
  background: none;
  position: absolute;
  top: 20px;
  width: 100%;
  z-index: 200;
}

.site-navbar .navbar-brand {
  display: inline-block;
  border: 2px solid #fff;
  padding: 5px 20px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.site-navbar {
  background: transparent;
}

@media (max-width: 991.98px) {
  .site-navbar {
    background: white;
    top: 0;
  }

  .site-navbar.bg-light .navbar-brand {
    display: inline-block;
    font-size: 18px;
    border: 2px solid #000;
    padding: 2px 10px !important;
    color: #000;
  }
}

.top-nav-item {
  border-bottom: 3px solid transparent;
  transition: 0.5s all ease;
}

.site-navbar .navbar-nav > li > a {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.1em;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  transition: 0.5s all ease;
}

@media (max-width: 991.98px) {
  .site-navbar .navbar-nav > li > a {
    color: rgba(0, 0, 0, 0.7) !important;
  }
}

.site-navbar.scrolled {
  background: #fff;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.09);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
}

.site-navbar.scrolled.bg-light {
  background: #fff !important;
}

.site-navbar.scrolled .navbar-brand {
  display: inline-block;
  font-size: 18px;
  border: 2px solid #000;
  padding: 2px 10px !important;
}

.site-navbar.scrolled.awake,
.site-navbar.scrolled.sleep {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.site-navbar.scrolled.awake {
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
  background: #fff !important;
}

.site-navbar.scrolled .navbar-nav > li > a {
  color: firebrick;
}

.site-navbar.scrolled .navbar-nav > li > a:hover {
  color: firebrick;
}
.site-navbar.scrolled .navbar-nav > li > a.active {
  color: firebrick;
}
.site-navbar.scrolled .navbar-nav > li.active > a {
  color: firebrick;
}

.top-nav-item:hover {
  border-color: firebrick;
}

.webp .site-hero {
  background-image: url('../images/hero/night-traffic-4.min.webp');
}

.no-webp .site-hero {
  background-image: url('../images/hero/night-traffic-4.min.jpg');
}

.site-hero {
  background-color: #ccc;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

.site-hero,
.site-hero .row {
  height: 100vh;
}

.site-hero::before {
  content: '';
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.site-hero h1 {
  font-weight: 200;
  margin-bottom: 20px;
  display: block;
}

.site-hero h1,
.site-hero .lead {
  font-weight: 200;
  color: #fff;
}
.site-hero .lead {
  line-height: 2;
}
.site-hero .site-subheading {
  max-width: 640px;
  margin: 0 auto;
  color: rgba(255, 255, 255, 0.5);
}

.section-heading {
  position: relative;
  z-index: 10;
}

.section-heading h2 {
  position: relative;
  font-weight: 200;
  padding-top: 20px;
  font-size: 30px;
}

.section-heading h2 strong {
  font-weight: 800;
}

.lead {
  font-weight: 200;
  line-height: 1.5;
  hyphens: auto;
}

.about-section-text {
  hyphens: auto;
}

.btn:active,
.btn:focus {
  outline: none;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.single-portfolio {
  margin-bottom: 50px;
  display: block;
}
.single-portfolio .relative {
  margin-bottom: 20px;
}

.thumb {
  height: 18.75rem;
  width: auto;
}
.single-portfolio .p-inner {
  text-align: left;
}
.single-portfolio .p-inner h4 {
  font-size: 20px;
}
.single-portfolio .p-inner .cat {
  font-size: 1rem;
  color: #cccccc;
  hyphens: auto;
  width: 100%;
}

.portfolio-btn {
  background-color: firebrick;
  color: #fff;
  text-transform: none;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  transition: 0.3s all ease;
  border: 3px solid transparent;
}

.portfolio-btn:hover {
  border-color: #fff;
  color: #fff;
}

.portfolio-btn-box {
  display: flex;
  justify-content: flex-start;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  object-fit: cover;
}

.single-portfolio {
  border-radius: 5px;
}

.site-navbar .navbar-nav > li > a:hover {
  color: firebrick;
}

.strong-text {
  color: firebrick;
}

.profile-img-box {
  text-align: center;
}

.profile-img {
  width: 80%;
  height: 100%;
  border-radius: 50%;
}

@media screen and (min-width: 768px) {
  .profile-img {
    width: 100%;
    height: 100%;
  }

  .about-section-text {
    hyphens: none;
  }
}

.about-heading {
  position: relative;
  padding: 20px 0;
  font-size: 30px;
  text-align: center;
}

.about-heading h2 strong {
  font-weight: 800;
}

.contact-icons-hero {
  object-fit: contain;
  background-size: contain;
  width: 1.2rem;
  height: 100%;
}

@media screen and (min-width: 375px) {
  .contact-icons-hero {
    width: 1.5rem;
    height: 1.5rem;
  }
}

@media screen and (min-width: 414px) {
  .contact-icons-hero {
    width: 1.8rem;
    height: 1.8rem;
  }
}

@media screen and (min-width: 768px) {
  .contact-icons-hero {
    width: 2rem;
    height: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .contact-icons-hero {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.contact-icons-footer {
  object-fit: contain;
  background-size: contain;
  width: 1.5rem;
  height: 100%;
}

@media screen and (min-width: 375px) {
  .contact-icons-footer {
    width: 1.8rem;
    height: 1.8rem;
  }
}

@media screen and (min-width: 414px) {
  .contact-icons-footer {
    width: 2.2rem;
    height: 2.2rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .contact-icons-footer {
    width: 2.5rem;
    height: 2.5rem;
  }
}

.skills-text {
  text-align: center;
}

.relative-text {
  position: relative;
  top: 0.4rem;
}

.skills-img {
  object-fit: contain;
  background-size: contain;
  width: 3rem;
  height: 3rem;
}

.meister {
  width: 5.7rem;
}

.httpie {
  width: 6.3rem;
}

.http {
  border-radius: 50%;
}

.parcel {
  width: 4rem;
  height: 3rem;
}

.babel {
  width: 4.49rem;
  height: 3rem;
}

.meister,
.httpie,
.express {
  border-radius: 10px;
}

.express {
  width: 5.5rem;
}

.vscode {
  width: 4.3rem;
}

.figma,
.pgweb,
.http,
.ajax {
  border-radius: 50%;
}

.section-heading-padding {
  padding: 2rem 0;
}

.portfolio-heading-padding {
  padding: 4rem 0;
}

.contact-hover {
  transition: 0.3s all ease;
}

.contact-hover p {
  font-size: 1.2rem;
  font-weight: 400;
  padding-top: 1rem;
}

.contact-hover:hover {
  box-shadow: 0px 0px 15px white;
}

.contact-heading {
  padding: 2rem 0;
}

.hover-shadow {
  transition: 0.3s all ease;
  box-shadow: 5px 5px 20px red;
}

.hover-shadow:hover {
  box-shadow: 5px 5px 20px #fff;
}

footer {
  margin-bottom: 4rem;
}

.footer-box {
  margin-top: 1.5rem;
}

.button-box {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 3rem;
}

.button-box a {
  margin-bottom: 1rem;
}

.banner-btn {
  transition: 0.3s all ease;
  margin: 0 0.5rem;
}

@media screen and (min-width: 414px) {
  .banner-btn {
    margin: 0 0.8rem;
  }
}

.banner-btn:hover {
  box-shadow: 0px 0px 15px white;
  border-color: firebrick;
  color: firebrick;
}

.contact-links {
  color: #fff;
}

.contact-links:hover {
  text-decoration: none;
  color: #fff;
}

@media screen and (min-device-width: 568px) and (orientation: landscape) {
  .banner-box {
    margin: 3.5rem 0;
  }

  .site-hero {
    height: 32rem;
  }
}

@media screen and (min-width: 992px) {
  .site-hero,
  .site-hero .row {
    min-height: 860px;
  }

  .contact-heading {
    padding-bottom: 1rem;
  }

  .portfolio-heading-padding {
    padding: 4rem 0;
  }

  .about-section {
    padding: 4rem 0 2rem 0;
  }

  .about-heading {
    text-align: left;
  }
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
  color: #fff;
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
  color: #fff;
}

.sticky {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;
}

.white {
  background-color: white;
}

#IE-styles-skills-section {
  display: none;
  overflow: hidden;
  margin: 30px 0;
}

.IE-skills-header {
  text-decoration: underline;
  color: #fff;
}

@media (-ms-high-contrast: none), (-ms-high-contrast: active) {
  #IE-styles-skills-section {
    display: block;
  }
}

@media all and (max-width: 768px) and (-ms-high-contrast: none),
  (-ms-high-contrast: active) {
  .skills-section {
    display: none;
  }
}

@media all and (min-width: 768px) and (-ms-high-contrast: none),
  (-ms-high-contrast: active) {
  #IE-styles-skills-section {
    display: none;
  }
}

@media all and (max-width: 500px) and (-ms-high-contrast: none),
  (-ms-high-contrast: active) {
  .profile-img {
    width: 60%;
  }
}

.neon-box {
  font-size: 1.8rem;
  font-family: 'Monoton', sans-serif;
  text-align: center;
  text-shadow: 0 0 100px red, 0 0 50px FireBrick, 0 0 26px DarkRed;
  color: red;
  position: relative;
}
.neon-box p {
  margin: 0;
}
#error:hover {
  text-shadow: 0 0 200px #ffffff, 0 0 80px #ffffff, 0 0 26px #ffffff;
}
.code:hover {
  text-shadow: 0 0 100px red, 0 0 40px FireBrick, 0 0 8px DarkRed;
}
#error {
  color: #fff;
  text-shadow: 0 0 100px #ffffff, 0 0 50px #ffffff, 0 0 26px #ffffff;
}
#error span {
  animation: upper 11s linear infinite;
}
.code span:nth-of-type(2) {
  animation: lower 10s linear infinite;
}

.code-2 span:nth-of-type(1) {
  animation: lower 8s linear infinite;
}
.code span:nth-of-type(1) {
  text-shadow: none;
  opacity: 0.4;
}
@keyframes upper {
  0%,
  19.999%,
  22%,
  62.999%,
  64%,
  64.999%,
  70%,
  100% {
    opacity: 0.99;
    text-shadow: 0 0 100px #ffffff, 0 0 50px #fff, 0 0 26px #fff;
  }
  20%,
  21.999%,
  63%,
  63.999%,
  65%,
  69.999% {
    opacity: 0.4;
    text-shadow: none;
  }
}
@keyframes lower {
  0%,
  12%,
  18.999%,
  23%,
  31.999%,
  37%,
  44.999%,
  46%,
  49.999%,
  51%,
  58.999%,
  61%,
  68.999%,
  71%,
  85.999%,
  96%,
  100% {
    opacity: 0.99;
    text-shadow: 0 0 80px red, 0 0 30px FireBrick, 0 0 6px DarkRed;
  }
  19%,
  22.99%,
  32%,
  36.999%,
  45%,
  45.999%,
  50%,
  50.99%,
  59%,
  60.999%,
  69%,
  70.999%,
  86%,
  95.999% {
    opacity: 0.4;
    text-shadow: none;
  }
}

@media screen and (min-width: 375px) {
  .neon-box {
    font-size: 2rem;
  }
}

@media screen and (min-width: 414px) {
  .neon-box {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 768px) {
  .neon-box {
    font-size: 3.5rem;
  }
}

@media screen and (min-width: 992px) {
  .banner-box {
    position: relative;
    bottom: 4rem;
  }
}

/* .bg-javascript {
  background: url('../images/css_sprites.png') -782px -514px;
  margin: auto;
}

.bg-react {
  background: url('../images/css_sprites.png') -540px -350px;
  margin: auto;
}

.bg-nodejs {
  background: url('../images/css_sprites.png') -608px -350px;
  margin: auto;
}

.bg-postgresql {
  background: url('../images/css_sprites.png') -550px -588px;
  margin: auto;
}

.bg-express_logo {
  background: url('../images/css_sprites.png') -10px -10px;
  margin: auto;
}

.bg-git {
  background: url('../images/css_sprites.png') -710px -398px;
  margin: auto;
}

.bg-github {
  width: 48px;
  height: 48px;
  background: url('../images/css_sprites.png') -618px -588px;
  margin: auto;
}

.bg-chrome {
  background: url('../images/css_sprites.png') -350px -588px;
  margin: auto;
}

.bg-ajax_150 {
  background: url('../images/css_sprites.png') -540px -10px;
  margin: auto;
}

.bg-jquery_150 {
  background: url('../images/css_sprites.png') -540px -180px;
  margin: auto;
}

.bg-bootstrap {
  background: url('../images/css_sprites.png') -686px -588px;
  margin: auto;
}

.bg-css {
  background: url('../images/css_sprites.png') -754px -588px;
  margin: auto;
}

.bg-html {
  background: url('../images/css_sprites.png') -10px -712px;
  margin: auto;
}

.bg-sql {
  background: url('../images/css_sprites.png') -710px -514px;
  margin: auto;
}

.bg-aws {
  background: url('../images/css_sprites.png') -78px -712px;
  margin: auto;
}

.bg-meister {
  background: url('../images/css_sprites.png') -10px -204px;
  margin: auto;
}

.bg-httpie_150 {
  background: url('../images/css_sprites.png') -10px -588px;
  margin: auto;
}

.bg-pgweb_100 {
  background: url('../images/css_sprites.png') -710px -158px;
  margin: auto;
}

.bg-vscode_150 {
  background: url('../images/css_sprites.png') -180px -418px;
  margin: auto;
}

.bg-figma {
  background: url('../images/css_sprites.png') -320px -193px;
  margin: auto;
}

.bg-http {
  background: url('../images/css_sprites.png') -710px -278px;
  margin: auto;
}

.bg-npm {
  background: url('../images/css_sprites.png') -146px -712px;
  margin: auto;
}

.bg-babel_150 {
  background: url('../images/css_sprites.png') -180px -588px;
  margin: auto;
}

.bg-webpack {
  background: url('../images/css_sprites.png') -466px -588px;
  margin: auto;
}

.bg-parcel_200 {
  background: url('../images/css_sprites.png') -320px -10px;
  margin: auto;
}

.bg-twitter {
  background: url('../images/css_sprites.png') -350px -418px;
  margin: auto;
}

.bg-linkedin_150 {
  background: url('../images/css_sprites.png') -10px -418px;
  margin: auto;
}

.bg-envelope {
  background: url('../images/css_sprites.png') -498px -418px;
  margin: auto;
}

.bg-github_contact {
  background: url('../images/css_sprites.png') -710px -10px;
  margin: auto;
} */

.bg-envelope_sm {
  /* width: 39px;
  height: 32px; */
  background: url('../images/css_sprites.png') -420px -250px;
}

.bg-sql_sm {
  width: 50px;
  height: 50px;
  background: url('../images/css_sprites.png') -201px -80px;
}

.bg-meister_sm {
  width: 67px;
  height: 50px;
  background: url('../images/css_sprites.png') -111px -79px;
}

.bg-httpie_sm {
  width: 70px;
  height: 49px;
  background: url('../images/css_sprites.png') -111px -10px;
}

.bg-figma_sm {
  /* width: 50px;
  height: 50px; */
  background: url('../images/css_sprites.png') -282px -10px;
}

.bg-http_sm {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: url('../images/css_sprites.png') -282px -80px;
}

.bg-babel_sm {
  width: 73px;
  height: 51px;
  background: url('../images/css_sprites.png') -10px -80px;
}

.bg-webpack_sm {
  width: 41px;
  height: 45px;
  background: url('../images/css_sprites.png') -420px -10px;
}

.bg-parcel_sm {
  width: 61px;
  height: 50px;
  background: url('../images/css_sprites.png') -201px -10px;
}

.bg-linkedin_sm {
  /* width: 38px;
  height: 38px; */
  background: url('../images/css_sprites.png') -420px -134px;
}

.bg-express_logo_sm {
  width: 81px;
  height: 50px;
  background: url('../images/css_sprites.png') -10px -10px;
  /* width: 4.9rem; */
}

.bg-git_sm {
  width: 43px;
  height: 43px;
  background: url('../images/css_sprites.png') -142px -292px;
}

.bg-chrome_sm {
  width: 44px;
  height: 44px;
  background: url('../images/css_sprites.png') -78px -292px;
}

.bg-twitter_sm {
  /* width: 38px;
  height: 38px; */
  background: url('../images/css_sprites.png') -420px -192px;
}

.bg-pgweb_sm {
  width: 53px;
  height: 53px;
  background: url('../images/css_sprites.png') -87px -151px;
  border-radius: 50%;
}

.bg-jquery_sm {
  width: 49px;
  height: 49px;
  background: url('../images/css_sprites.png') -282px -150px;
}

.bg-github_contact_sm {
  width: 39px;
  height: 39px;
  background: url('../images/css_sprites.png') -420px -75px;
}

.bg-vscode_sm {
  width: 57px;
  height: 53px;
  background: url('../images/css_sprites.png') -10px -151px;
}

.bg-ajax_sm {
  width: 52px;
  height: 52px;
  background: url('../images/css_sprites.png') -160px -151px;
  border-radius: 50%;
  /* width: 4rem;
  height: 3.2rem; */
}

.bg-aws_sm {
  width: 48px;
  height: 48px;
  background: url('../images/css_sprites.png') -10px -224px;
}

.bg-bootstrap_sm {
  width: 48px;
  height: 48px;
  background: url('../images/css_sprites.png') -78px -224px;
}

.bg-css_sm {
  width: 48px;
  height: 48px;
  background: url('../images/css_sprites.png') -146px -224px;
}

.bg-github_sm {
  width: 48px;
  height: 48px;
  background: url('../images/css_sprites.png') -214px -224px;
}

.bg-html_sm {
  width: 48px;
  height: 48px;
  background: url('../images/css_sprites.png') -282px -224px;
}

.bg-javascript_sm {
  width: 48px;
  height: 48px;
  background: url('../images/css_sprites.png') -352px -10px;
}

.bg-nodejs_sm {
  width: 48px;
  height: 48px;
  background: url('../images/css_sprites.png') -352px -78px;
}

.bg-npm_sm {
  width: 48px;
  height: 48px;
  background: url('../images/css_sprites.png') -352px -146px;
}

.bg-postgresql_sm {
  width: 48px;
  height: 48px;
  background: url('../images/css_sprites.png') -352px -214px;
}

.bg-react_sm {
  width: 48px;
  height: 48px;
  background: url('../images/css_sprites.png') -10px -292px;
}

.skills-header {
  border-bottom: 1px solid white;
  color: #fff;
  padding: 2rem 0;
  display: inline-block;
  text-align: center;
  width: 100%;
}

@media screen and (min-with: 998px) {
  .profile-img-parent {
    align-items: flex-start;
  }
}

.skills-box {
  width: 90%;
}

.front-end-skills {
  width: 90%;
}

@media screen and (min-width: 375px) {
  .frontend-skills {
    width: 80%;
  }
}

.backend-skills {
  width: 98%;
}

@media screen and (min-width: 375px) {
  .backend-skills {
    width: 84%;
  }
}

@media screen and (min-width: 375px) {
  .tools-skills-1 {
    width: 84%;
  }
}

@media screen and (min-width: 414px) {
  .tools-skills-1 {
    width: 79%;
  }
  .tools-skills-2 {
    width: 79%;
  }
}

@media screen and (min-width: 768px) {
  .frontend-skills,
  .backend-skills,
  .tools-skills-1 {
    width: 98%;
  }
}
