@font-face {
  font-family: 'Monoton';
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: url('../fonts/monoton-latin/monoton-v10-latin-regular.woff2')
      format('woff2'),
    url('../fonts/monoton-latin/monoton-v10-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: url('../fonts/nunito-sans-latin/nunito-sans-v6-latin-regular.woff2')
      format('woff2'),
    url('../fonts/nunito-sans-latin/nunito-sans-v6-latin-regular.woff')
      format('woff');
}

body {
  color: #ccc;
  background: #222;
  line-height: 1.7;
  font-size: 16px;
  font-weight: 300;
  font-family: 'Nunito Sans';
}

h2 {
  font-size: 25px;
}

.hello-text {
  font-size: 25px;
}

.welcome-text {
  font-size: 1.5rem;
  color: #fff;
}

.parent-nav-link-padding,
.site-navbar .navbar-nav > li > a {
  padding: 21px 20px !important;
}

h1,
h2,
h3,
h4,
h5 {
  color: #ccc;
  font-weight: 200;
}

.site-navbar {
  border: none;
  box-shadow: none;
  border-radius: 0px;
  margin-bottom: 0px;
  background: none;
  position: absolute;
  top: 20px;
  width: 100%;
  z-index: 200;
}

.site-navbar .navbar-brand {
  display: inline-block;
  border: 2px solid #fff;
  padding: 5px 20px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.site-navbar {
  background: transparent;
}

.top-nav-item {
  border-bottom: 4px solid transparent;
  transition: 0.5s all ease;
}

.site-navbar .navbar-nav > li > a {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.1em;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

@media (max-width: 991.98px) {
  .site-navbar .navbar-nav > li > a {
    color: rgba(0, 0, 0, 0.7) !important;
  }

  .site-navbar {
    background: white;
    top: 0;
  }
}

.site-navbar.scrolled {
  background: #fff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.09);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  transform: translateY(0%);
}

.site-navbar.scrolled.bg-light {
  background: #fff !important;
}

.site-navbar.scrolled .navbar-brand {
  display: inline-block;
  font-size: 18px;
  border: 2px solid #000;
  padding: 2px 10px !important;
}

.site-navbar.scrolled.awake,
.site-navbar.scrolled.sleep {
  transition: 0.3s all ease;
}

.site-navbar.scrolled.awake {
  transform: translateY(0%);
  background: #fff !important;
}

.site-navbar.scrolled .navbar-nav > li > a {
  color: firebrick;
}

.site-navbar.scrolled .navbar-nav > li > a:hover {
  color: firebrick;
}
.site-navbar.scrolled .navbar-nav > li > a.active {
  color: firebrick;
}
.site-navbar.scrolled .navbar-nav > li.active > a {
  color: firebrick;
}

.top-nav-item:hover {
  border-color: firebrick;
}

.webp .site-hero {
  background-image: url('../images/hero/xsm/night-traffic-4-xsm.min.webp');
}

.no-webp .site-hero {
  background-image: url('../images/hero/xsm/night-traffic-4-xsm.min.jpg');
}

.site-hero {
  background-color: #ccc;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

.site-hero,
.site-hero .row {
  height: 100vh;
}

.site-hero::before {
  content: '';
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.site-hero h1 {
  font-weight: 200;
  margin-bottom: 20px;
  display: block;
}

.site-hero h1,
.site-hero .lead {
  font-weight: 200;
  color: #fff;
}
.site-hero .lead {
  line-height: 2;
}
.site-hero .site-subheading {
  max-width: 640px;
  margin: 0 auto;
  color: rgba(255, 255, 255, 0.5);
}

.section-heading {
  position: relative;
  z-index: 10;
}

.section-heading h2 {
  position: relative;
  font-weight: 200;
  padding-top: 20px;
  font-size: 30px;
  color: #fff;
}

.section-heading h2 strong {
  font-weight: 800;
}

.lead {
  font-weight: 200;
  line-height: 1.5;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.about-section-text {
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.btn:active,
.btn:focus {
  outline: none;
  box-shadow: none !important;
}

.single-portfolio {
  margin-bottom: 50px;
  display: block;
}
.single-portfolio .relative {
  margin-bottom: 20px;
}

.thumb {
  /* height: 18.75rem; */
  height: 30rem;
  width: auto;
  background: #262629;
}
.single-portfolio .p-inner {
  text-align: left;
}
.single-portfolio .p-inner h4 {
  font-size: 20px;
}
.single-portfolio .p-inner .cat {
  font-size: 1rem;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  width: 100%;
}

.portfolio-btn {
  background-color: firebrick;
  color: #fff;
  text-transform: none;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  transition: 0.3s all ease;
  border: 3px solid transparent;
}

.portfolio-btn:hover {
  border-color: #fff;
  color: #fff;
}

.portfolio-btn-box {
  display: flex;
  justify-content: flex-start;
}

.image {
  opacity: 1;
  display: block;
  width: initial;
  height: 100%;
  transition: 0.5s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -o-object-fit: cover;
  object-fit: cover;
  margin: auto;
}

.single-portfolio {
  border-radius: 5px;
}

.site-navbar .navbar-nav > li > a:hover {
  color: firebrick;
}

.strong-text {
  color: firebrick;
}

.profile-img-box {
  text-align: center;
}

.profile-img {
  width: 80%;
  height: 100%;
  border-radius: 50%;
}

.about-heading {
  position: relative;
  padding: 20px 0;
  font-size: 30px;
  text-align: center;
}

.about-heading h2 {
  color: white;
}

.contact-icons-hero {
  -o-object-fit: contain;
  object-fit: contain;
  background-size: contain;
  width: 1.2rem;
  height: 100%;
}

.contact-icons-footer {
  -o-object-fit: contain;
  object-fit: contain;
  background-size: contain;
  width: 1.5rem;
  height: 100%;
}

.skills-text {
  text-align: center;
}

.relative-text {
  position: relative;
  top: 0.4rem;
}

.skills-img {
  -o-object-fit: contain;
  object-fit: contain;
  background-size: contain;
  width: 3rem;
  height: 3rem;
}

.meister {
  width: 5.7rem;
}

.httpie {
  width: 6.3rem;
}

.http {
  border-radius: 50%;
}

.parcel {
  width: 4rem;
  height: 3rem;
}

.babel {
  width: 4.49rem;
  height: 3rem;
}

.meister,
.httpie,
.express {
  border-radius: 10px;
}

.express {
  width: 5.5rem;
}

.vscode {
  width: 4.3rem;
}

.figma,
.pgweb,
.http,
.ajax {
  border-radius: 50%;
}

.section-heading-padding {
  padding: 2rem 0;
}

.portfolio-heading-padding {
  padding: 4rem 0;
}

.contact-hover {
  transition: 0.3s all ease;
}

.contact-hover p {
  font-size: 1.2rem;
  font-weight: 400;
  padding-top: 1rem;
}

.contact-hover:hover {
  box-shadow: 0px 0px 15px white;
}

.contact-heading {
  padding: 2rem 0;
}

.hover-shadow {
  transition: 0.3s all ease;
  box-shadow: 5px 5px 20px red;
}

.hover-shadow:hover {
  box-shadow: 5px 5px 20px #fff;
}

footer {
  margin-bottom: 4rem;
}

.footer-box {
  margin-top: 1.5rem;
}

.copyright {
  color: #999;
  font-size: 0.5rem;
}

.button-box {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 3rem;
}

.button-box a {
  margin-bottom: 1rem;
}

.banner-btn {
  transition: 0.3s all ease;
  margin: 0 0.5rem;
}

.banner-btn:hover {
  box-shadow: 0px 0px 15px white;
  border-color: firebrick;
  color: firebrick;
}

.contact-links {
  color: #fff;
}

.contact-links:hover {
  text-decoration: none;
  color: #fff;
}

@media screen and (min-device-width: 568px) and (orientation: landscape) {
  .banner-box {
    margin: 3.5rem 0;
  }

  .site-hero {
    height: 52rem;
  }
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
  padding: 5px 0;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
  color: #fff;
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
  color: #fff;
}

.sticky {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;
}

.white {
  background-color: white;
}

#IE-styles-skills-section {
  display: none;
  overflow: hidden;
  margin: 30px 0;
}

.IE-skills-header {
  text-decoration: underline;
  color: #fff;
}

.IE-scroll {
  display: none;
}

@media (-ms-high-contrast: none), (-ms-high-contrast: active) {
  #IE-styles-skills-section {
    display: block;
  }
  .skills-scroll {
    display: none;
  }

  .IE-scroll {
    display: block;
  }

  .skills-section {
    display: none;
  }
}

@media all and (min-width: 768px) and (-ms-high-contrast: none),
  (-ms-high-contrast: active) {
  .skills-section {
    display: block;
  }

  #IE-styles-skills-section {
    display: none;
  }
}

@media all and (min-width: 992px) and (-ms-high-contrast: none),
  (-ms-high-contrast: active) {
  .skills-scroll {
    display: block;
  }

  .IE-scroll {
    display: none;
  }
}

.neon-box {
  font-size: 1.8rem;
  font-family: 'Monoton', sans-serif;
  text-align: center;
  position: relative;
  text-shadow: 0 0 100px red, 0 0 50px FireBrick, 0 0 26px DarkRed;
  color: red;
}
.neon-box p {
  margin: 0;
}
#error:hover {
  text-shadow: 0 0 200px #ffffff, 0 0 80px #ffffff, 0 0 26px #ffffff;
}
.code:hover {
  text-shadow: 0 0 100px red, 0 0 40px FireBrick, 0 0 8px DarkRed;
}
#error {
  color: #fff;
  text-shadow: 0 0 100px #ffffff, 0 0 50px #ffffff, 0 0 26px #ffffff;
}
#error span {
  -webkit-animation: upper 11s linear infinite;
  animation: upper 11s linear infinite;
}
.code span:nth-of-type(2) {
  -webkit-animation: lower 10s linear infinite;
  animation: lower 10s linear infinite;
}

.code-2 span:nth-of-type(1) {
  -webkit-animation: lower 8s linear infinite;
  animation: lower 8s linear infinite;
}
.code span:nth-of-type(1) {
  text-shadow: none;
  opacity: 0.4;
}
@-webkit-keyframes upper {
  0%,
  19.999%,
  22%,
  62.999%,
  64%,
  64.999%,
  70%,
  100% {
    opacity: 0.99;
    text-shadow: 0 0 100px #ffffff, 0 0 50px #fff, 0 0 26px #fff;
  }
  20%,
  21.999%,
  63%,
  63.999%,
  65%,
  69.999% {
    opacity: 0.4;
    text-shadow: none;
  }
}
@keyframes upper {
  0%,
  19.999%,
  22%,
  62.999%,
  64%,
  64.999%,
  70%,
  100% {
    opacity: 0.99;
    text-shadow: 0 0 100px #ffffff, 0 0 50px #fff, 0 0 26px #fff;
  }
  20%,
  21.999%,
  63%,
  63.999%,
  65%,
  69.999% {
    opacity: 0.4;
    text-shadow: none;
  }
}
@-webkit-keyframes lower {
  0%,
  12%,
  18.999%,
  23%,
  31.999%,
  37%,
  44.999%,
  46%,
  49.999%,
  51%,
  58.999%,
  61%,
  68.999%,
  71%,
  85.999%,
  96%,
  100% {
    opacity: 0.99;
    text-shadow: 0 0 80px red, 0 0 30px FireBrick, 0 0 6px DarkRed;
  }
  19%,
  22.99%,
  32%,
  36.999%,
  45%,
  45.999%,
  50%,
  50.99%,
  59%,
  60.999%,
  69%,
  70.999%,
  86%,
  95.999% {
    opacity: 0.4;
    text-shadow: none;
  }
}
@keyframes lower {
  0%,
  12%,
  18.999%,
  23%,
  31.999%,
  37%,
  44.999%,
  46%,
  49.999%,
  51%,
  58.999%,
  61%,
  68.999%,
  71%,
  85.999%,
  96%,
  100% {
    opacity: 0.99;
    text-shadow: 0 0 80px red, 0 0 30px FireBrick, 0 0 6px DarkRed;
  }
  19%,
  22.99%,
  32%,
  36.999%,
  45%,
  45.999%,
  50%,
  50.99%,
  59%,
  60.999%,
  69%,
  70.999%,
  86%,
  95.999% {
    opacity: 0.4;
    text-shadow: none;
  }
}

.bg-sql_sm {
  width: 50px;
  height: 50px;
  background: url('../images/css_sprites.png') -201px -80px;
}

.bg-meister_sm {
  width: 67px;
  height: 50px;
  background: url('../images/css_sprites.png') -111px -79px;
}

.bg-httpie_sm {
  width: 70px;
  height: 49px;
  background: url('../images/css_sprites.png') -111px -10px;
}

.bg-figma_sm {
  width: 50px;
  height: 50px;
  background: url('../images/css_sprites.png') -282px -10px;
}

.bg-http_sm {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: url('../images/css_sprites.png') -282px -80px;
}

.bg-babel_sm {
  width: 73px;
  height: 51px;
  background: url('../images/css_sprites.png') -10px -80px;
}

.bg-webpack_sm {
  width: 41px;
  height: 45px;
  background: url('../images/css_sprites.png') -420px -10px;
}

.bg-parcel_sm {
  width: 61px;
  height: 50px;
  background: url('../images/css_sprites.png') -201px -10px;
}

.bg-linkedin_sm {
  width: 38px;
  height: 38px;
  background: url('../images/css_sprites.png') -420px -134px;
}

.bg-express_logo_sm {
  width: 81px;
  height: 50px;
  background: url('../images/css_sprites.png') -10px -10px;
}

.bg-git_sm {
  width: 43px;
  height: 43px;
  background: url('../images/css_sprites.png') -142px -292px;
}

.bg-chrome_sm {
  width: 44px;
  height: 44px;
  background: url('../images/css_sprites.png') -78px -292px;
}

.bg-twitter_sm {
  background: url('../images/css_sprites.png') -420px -192px;
}

.bg-pgweb_sm {
  width: 53px;
  height: 53px;
  background: url('../images/css_sprites.png') -87px -151px;
  border-radius: 50%;
}

.bg-jquery_sm {
  width: 49px;
  height: 49px;
  background: url('../images/css_sprites.png') -282px -150px;
}

.bg-github_contact_sm {
  width: 39px;
  height: 39px;
  background: url('../images/css_sprites.png') -420px -75px;
}

.bg-vscode_sm {
  width: 57px;
  height: 53px;
  background: url('../images/css_sprites.png') -10px -151px;
}

.bg-ajax_sm {
  width: 52px;
  height: 52px;
  background: url('../images/css_sprites.png') -160px -151px;
  border-radius: 50%;
}

.bg-aws_sm {
  width: 48px;
  height: 48px;
  background: url('../images/css_sprites.png') -10px -224px;
}

.bg-bootstrap_sm {
  width: 48px;
  height: 48px;
  background: url('../images/css_sprites.png') -78px -224px;
}

.bg-css_sm {
  width: 48px;
  height: 48px;
  background: url('../images/css_sprites.png') -146px -224px;
}

.bg-github_sm {
  width: 48px;
  height: 48px;
  background: url('../images/css_sprites.png') -214px -224px;
}

.bg-html_sm {
  width: 48px;
  height: 48px;
  background: url('../images/css_sprites.png') -282px -224px;
}

.bg-javascript_sm {
  width: 48px;
  height: 48px;
  background: url('../images/css_sprites.png') -352px -10px;
}

.bg-nodejs_sm {
  width: 48px;
  height: 48px;
  background: url('../images/css_sprites.png') -352px -78px;
}

.bg-npm_sm {
  width: 48px;
  height: 48px;
  background: url('../images/css_sprites.png') -352px -146px;
}

.bg-postgresql_sm {
  width: 48px;
  height: 48px;
  background: url('../images/css_sprites.png') -352px -214px;
}

.bg-react_sm {
  width: 48px;
  height: 48px;
  background: url('../images/css_sprites.png') -10px -292px;
}

.skills-header {
  border-bottom: 1px solid white;
  color: #fff;
  padding-bottom: 2rem;
  display: inline-block;
  text-align: center;
  width: 100%;
  font-size: 1.5rem;
  font-weight: 200;
}

.date {
  font-size: 1.3rem;
}

.custom-padding {
  padding-top: 1rem;
}

.custom-margin {
  margin-bottom: 0;
}

.skills-box {
  width: 90%;
}

.front-end-skills {
  width: 100%;
}

.backend-skills {
  width: 100%;
}

.current-text-box {
  width: 100%;
  margin: auto;
}

.custom-sql {
  position: relative;
  bottom: 2px;
}

.custom-node-text {
  position: relative;
  top: 6px;
}

.custom-postgre {
  position: relative;
  top: 2px;
}

.custom-figma-text {
  position: relative;
  top: 2px;
}

.custom-express-text {
  position: relative;
  top: 6px;
}
.custom-httpie-text {
  position: relative;
  top: 3px;
}

.custom-postgre-text {
  position: relative;
  top: 5px;
}

.custom-webpack-text {
  position: relative;
  top: 2px;
}

.custom-git-text {
  position: relative;
  top: 2px;
}

.custom-devTools-text {
  position: relative;
  top: 2px;
}

.custom-padding-aws {
  padding-left: 0;
  padding-right: 0;
}

@media screen and (min-width: 375px) {
  .frontend-skills {
    width: 90%;
  }

  .tools-skills-1 {
    width: 87%;
  }
  .tools-skills-2 {
    width: 87%;
  }

  .current-text-box {
    width: 88%;
  }

  .contact-icons-hero {
    width: 1.5rem;
    height: 1.5rem;
  }

  .contact-icons-footer {
    width: 1.8rem;
    height: 1.8rem;
  }

  .neon-box {
    font-size: 2rem;
  }
}

@media screen and (min-width: 414px) {
  .tools-skills-1,
  .tools-skills-2 {
    width: 79%;
  }

  .current-text-box {
    width: 97%;
  }

  .frontend-skills {
    width: 82%;
  }

  .backend-skills {
    width: 90%;
  }

  .contact-icons-hero {
    width: 1.8rem;
    height: 1.8rem;
  }

  .contact-icons-footer {
    width: 2.2rem;
    height: 2.2rem;
  }

  .banner-btn {
    margin: 0 0.8rem;
  }

  .neon-box {
    font-size: 2.3rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .contact-icons-footer {
    width: 2.5rem;
    height: 2.5rem;
  }
}

@media screen and (min-width: 768px) {
  .frontend-skills,
  .backend-skills,
  .tools-skills-1,
  .tools-skills-2 {
    width: 100%;
  }

  .current-text-box {
    width: 100%;
  }

  .relative-text,
  .custom-node-text {
    position: relative;
    top: 4px;
  }

  .custom-react-dev {
    position: relative;
    bottom: 4px;
  }

  .custom-js,
  .custom-react {
    position: relative;
    top: 8px;
  }

  .custom-ajax {
    position: relative;
    top: 7px;
  }

  .custom-css {
    position: relative;
    top: 9px;
  }

  .custom-babel {
    position: relative;
    top: 2px;
  }

  .custom-meister {
    position: relative;
    bottom: 4px;
  }

  .custom-postgre {
    right: 11px;
  }

  .custom-figma,
  .custom-pgweb {
    position: relative;
    top: 1px;
  }

  .custom-today-text-margin {
    margin-bottom: 43px;
  }

  .contact-icons-hero {
    width: 2rem;
    height: 2rem;
  }

  .profile-img {
    width: 90%;
    height: 100%;
  }

  .about-section-text {
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
  }

  .neon-box {
    font-size: 3.5rem;
  }

  .single-portfolio {
    align-items: center !important;
    margin: auto;
  }

  /* @media screen and (min-width: 1200px) {
    .single-portfolio {
      margin: initial;
    }
  } */

  .webp .site-hero {
    background-image: url('../images/hero/md/night-traffic-4-md.min.webp');
  }

  .no-webp .site-hero {
    background-image: url('../images/hero/md/night-traffic-4-md.min.jpg');
  }
}

@media screen and (min-width: 992px) {
  .navbar {
    padding: 0;
  }

  .custom-today-text-margin {
    margin-bottom: 0;
  }

  .contact-icons-hero {
    width: 1.5rem;
    height: 1.5rem;
  }

  .site-hero,
  .site-hero .row {
    min-height: 860px;
  }

  .contact-heading {
    padding-bottom: 1rem;
  }

  .portfolio-heading-padding {
    padding: 4rem 0;
  }

  .about-section {
    padding: 4rem 0 2rem 0;
  }

  .about-heading {
    text-align: left;
  }

  .banner-box {
    position: relative;
  }

  .copyright {
    font-size: 0.7rem;
  }

  .webp .site-hero {
    background-image: url('../images/hero/lg/night-traffic-4-lg.min.webp');
  }

  .no-webp .site-hero {
    background-image: url('../images/hero/lg/night-traffic-4-lg.min.jpg');
  }

  .single-portfolio {
    margin: initial;
  }
}

@media screen and (min-width: 1024px) and (min-height: 1366px) {
  .site-navbar .navbar-nav > li > a {
    font-size: 1.2rem;
  }

  .neon-box {
    font-size: 4.5rem;
  }
}

@media screen and (min-width: 1440px) {
  .webp .site-hero {
    background-image: url('../images/hero/xl/night-traffic-4-xl.min.webp');
  }

  .no-webp .site-hero {
    background-image: url('../images/hero/xl/night-traffic-4-xl.min.jpg');
  }
}

@media screen and (min-width: 2100px) {
  .skills-img {
    transform: scale(1.2);
  }

  .skills-text p {
    margin-top: 10px;
  }
}

@media screen and (min-width: 2300px) {
  .skills-img {
    transform: scale(1.4);
  }

  .site-navbar .navbar-nav > li > a {
    font-size: 22px;
  }

  .neon-box {
    font-size: 5rem;
  }

  .hello-text {
    font-size: 2.3rem;
  }

  .site-hero {
    height: 79rem;
  }

  .welcome-text {
    font-size: 2.5rem;
  }

  .contact-icons-hero,
  .contact-icons-footer {
    width: 2.5rem;
    height: 2.5rem;
  }

  .container {
    max-width: 1400px;
  }

  .navbar .navbar-nav > li > a {
    padding: 32px !important;
  }

  .section-heading h2,
  .about-heading h2,
  .current-work {
    font-size: 3rem;
  }

  .p-inner p,
  .current-text-box ul li,
  .about-section-text,
  .single-portfolio .p-inner .cat {
    font-size: 1.5rem;
  }

  .date,
  .skills-header,
  .p-inner h3 {
    font-size: 2.2rem;
  }

  .portfolio-btn {
    font-size: 1.3rem;
  }

  .lead {
    font-size: 2rem;
  }

  .skills-text p {
    font-size: 1.6rem;
  }

  .profile-img {
    width: 158%;
    position: relative;
    right: 10rem;
  }

  .copyright {
    font-size: 0.8rem;
  }

  .webp .site-hero {
    background-image: url('../images/hero/xxl/night-traffic-4-xxl.min.webp');
  }

  .no-webp .site-hero {
    background-image: url('../images/hero/xxl/night-traffic-4-xxl.min.jpg');
  }
}
