body {
  color: #fff;
  background: #222;
  line-height: 1.7;
  font-size: 16px;
  font-weight: 300;
}

h2 {
  font-size: 25px;
}

.parent-nav-link-padding,
.site-navbar .navbar-nav > li > a {
  padding: 15px 20px !important;
}

h1,
h2,
h3,
h4,
h5 {
  color: #fff;
  font-weight: 200;
}

.site-navbar {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0px;
  margin-bottom: 0px;
  background: none;
  position: absolute;
  top: 20px;
  width: 100%;
  z-index: 200;
}

.site-navbar .navbar-brand {
  display: inline-block;
  border: 2px solid #fff;
  padding: 5px 20px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.site-navbar {
  background: transparent;
}

@media (max-width: 991.98px) {
  .site-navbar {
    background: white;
    top: 0;
  }

  .site-navbar.bg-light .navbar-brand {
    display: inline-block;
    font-size: 18px;
    border: 2px solid #000;
    padding: 2px 10px !important;
    color: #000;
  }
}

.top-nav-item {
  border-bottom: 3px solid transparent;
  transition: 0.5s all ease;
}

.site-navbar .navbar-nav > li > a {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.1em;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  transition: 0.5s all ease;
}

@media (max-width: 991.98px) {
  .site-navbar .navbar-nav > li > a {
    color: rgba(0, 0, 0, 0.7) !important;
  }
}

.site-navbar.scrolled {
  background: #fff;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.09);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
}

.site-navbar.scrolled.bg-light {
  background: #fff !important;
}

.site-navbar.scrolled .navbar-brand {
  display: inline-block;
  font-size: 18px;
  border: 2px solid #000;
  padding: 2px 10px !important;
}

.site-navbar.scrolled.awake,
.site-navbar.scrolled.sleep {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.site-navbar.scrolled.awake {
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
  background: #fff !important;
}

.site-navbar.scrolled .navbar-nav > li > a {
  color: firebrick;
}

.site-navbar.scrolled .navbar-nav > li > a:hover {
  color: firebrick;
}
.site-navbar.scrolled .navbar-nav > li > a.active {
  color: firebrick;
}
.site-navbar.scrolled .navbar-nav > li.active > a {
  color: firebrick;
}

.top-nav-item:hover {
  border-color: firebrick;
}

.site-hero {
  background-image: url('../images/night-traffic-4.jpg');
  background-color: #ccc;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

.site-hero,
.site-hero .row {
  height: 100vh;
}

.site-hero::before {
  content: '';
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.site-hero h1 {
  font-weight: 200;
  margin-bottom: 20px;
  display: block;
}

.site-hero h1,
.site-hero .lead {
  font-weight: 200;
  color: #fff;
}
.site-hero .lead {
  line-height: 2;
}
.site-hero .site-subheading {
  max-width: 640px;
  margin: 0 auto;
  color: rgba(255, 255, 255, 0.5);
}

.section-heading {
  position: relative;
  z-index: 10;
}

.section-heading h2 {
  position: relative;
  font-weight: 200;
  padding-top: 20px;
  font-size: 30px;
}

.section-heading h2 strong {
  font-weight: 800;
}

.lead {
  font-weight: 200;
  line-height: 1.5;
}

.btn {
  border-radius: 100px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.2rem;
}

.btn:active,
.btn:focus {
  outline: none;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.single-portfolio {
  margin-bottom: 50px;
  display: block;
}
.single-portfolio .relative {
  margin-bottom: 20px;
}

.thumb {
  height: 18.75rem;
  width: auto;
}
.single-portfolio .p-inner {
  text-align: left;
}
.single-portfolio .p-inner h4 {
  font-size: 20px;
}
.single-portfolio .p-inner .cat {
  font-size: 1rem;
  color: #cccccc;
  text-align: justify;
}

.portfolio-btn {
  background-color: firebrick;
  color: #fff;
  text-transform: none;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  transition: 0.3s all ease;
  border: 3px solid transparent;
}

.portfolio-btn:hover {
  border-color: #fff;
  color: #fff;
}

.portfolio-btn-box {
  display: flex;
  justify-content: flex-start;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  object-fit: cover;
}

.single-portfolio {
  border-radius: 5px;
}

.site-navbar .navbar-nav > li > a:hover {
  color: firebrick;
}

li.nav-link:hover {
  color: orange;
}

.strong-text {
  color: firebrick;
}

.profile-img-box {
  text-align: center;
}

.about-heading {
  position: relative;
  padding: 20px 0;
  font-size: 30px;
  text-align: center;
}

.about-heading h2 strong {
  font-weight: 800;
}

.skills-img {
  object-fit: contain;
  background-size: contain;
  width: 4rem;
}

.skills-text {
  text-align: center;
}

.relative-text {
  position: relative;
  top: 0.4rem;
}

.postman {
  width: 11rem;
}

.meister {
  width: 5.7rem;
}

.httpie {
  width: 6.3rem;
}

.http {
  background-color: #fff;
  width: 4.49rem;
}

.section-heading-padding {
  padding: 2rem 0;
}

.portfolio-heading-padding {
  padding: 4rem 0;
}

.contact-hover {
  border-bottom: 3px solid transparent;
  transition: 0.3s all ease;
}

.contact-hover p {
  font-size: 1.5rem;
  font-weight: 500;
  padding-top: 1rem;
}

.contact-hover:hover {
  border-color: red;
}

.copy {
  color: #444;
}

.contact-heading {
  padding: 2rem 0;
}

.hover-shadow {
  transition: 0.3s all ease;
  box-shadow: 5px 5px 20px red;
}

.hover-shadow:hover {
  box-shadow: 5px 5px 20px #fff;
}

.meister,
.httpie,
.express {
  border-radius: 10px;
}

.express {
  width: 5.5rem;
}

.vscode {
  width: 4.3rem;
}

.figma,
.pgweb {
  width: 4rem;
}

.figma,
.pgweb,
.http,
.ajax {
  border-radius: 50%;
}

footer {
  margin-bottom: 4rem;
}

.footer-box {
  margin-top: 3rem;
}

.button-box {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.banner-btn {
  transition: 0.3s all ease;
  border: 3px solid transparent;
  color: rgba(0, 0, 0, 0.7);
}

.banner-btn:hover {
  border-color: firebrick;
  color: firebrick;
}

.contact-links {
  color: #fff;
}

.contact-links:hover {
  text-decoration: none;
  color: #fff;
}

@media screen and (min-device-width: 568px) and (orientation: landscape) {
  .banner-box {
    margin: 3.5rem 0;
  }

  .site-hero {
    height: 32rem;
  }
}

@media screen and (min-width: 992px) {
  .site-hero,
  .site-hero .row {
    min-height: 860px;
  }

  .contact-heading {
    padding: 4rem 0;
  }

  .portfolio-heading-padding {
    padding: 4rem 0;
  }

  .about-section {
    padding: 4rem 0 2rem 0;
  }

  .about-heading {
    text-align: left;
  }
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
  color: #fff;
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
  color: #fff;
}

.sticky {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;
}

.white {
  background-color: white;
}

#IE-styles-skills-section {
  display: none;
  overflow: hidden;
  margin: 30px 0;
}

.IE-skills-header {
  text-decoration: underline;
  color: #fff;
}

@media (-ms-high-contrast: none), (-ms-high-contrast: active) {
  #IE-styles-skills-section {
    display: block;
  }
}

@media all and (max-width: 768px) and (-ms-high-contrast: none),
  (-ms-high-contrast: active) {
  .skills-section {
    display: none;
  }
}

@media all and (min-width: 768px) and (-ms-high-contrast: none),
  (-ms-high-contrast: active) {
  #IE-styles-skills-section {
    display: none;
  }
}
